<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">MonkeyShelter API</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3 nav link" [routerLink]="['/add-monkey']">Add Monkey</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">GetAllMonkeys</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">RemoveMonkey</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">GetMonkeyBySpecies</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">GetMonkeyByDateRange</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">GetMonkeyCheckupInfo</a>
        </div>
    </div>
